<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../resources/swiper/dist/css/swiper.min.css">
    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-ui.1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/common.js"></script>
    <script type="text/javascript" src="../../resources/swiper/dist/js/swiper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
</head>
<body>
<div class="wrapper paper">
    <header>
        <botton class="prev"></botton>
        <span class="logo"></span>
    </header>
    <div class="banner">
    </div>
    <div class="pg_bar">
        <span class="on"></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div>
        <ul class="paper_list">
            
                <li>
                    <p class="question">
                        <span>061</span><br> 나는 새로운 사람들과 금방 잘 이야기한다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>062</span><br> 나는 여러 사람들과 함께 일하는 것보다 혼자 일하는 것이 더 좋다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>063</span><br> 나는 속 이야기를 잘 하는 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>064</span><br> 나는 말이 없는 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>065</span><br> 나는 사람들과 시간을 보낼 때 오히려 에너지가 생긴다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>066</span><br> 나는 혼자 있는 시간이 중요하다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>067</span><br> 나는 대체로 주도적이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>068</span><br> 나는 보통 먼저 말을 걸지 않는다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>069</span><br> 나는 말이 빠르다는 소리를 종종 듣는다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>070</span><br> 나는 말하기 전에 항상 먼저 생각하고 말한다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>071</span><br> 나는 말이 많다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>072</span><br> 나는 주목받는게 부담스럽다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>073</span><br> 나는 내 의견을 다른 사람들에게 표현하는걸 좋아한다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>074</span><br> 나는 다른 사람과 친해지려면 오랜 시간이 걸린다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>075</span><br> 나는 사교적인 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>076</span><br> 나는 신중하고 조심성이 많다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>077</span><br> 나는 혼자 일할 때 보다 여러 사람들과 함께 일할 때 힘이 난다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>078</span><br> 나는 목소리가 작은 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>079</span><br> 나는 대체로 열정적이고 적극적인 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>080</span><br> 나는 내 생각이나 의견을 잘 드러내지 않는 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
        </ul>

        <div class="btns">
            <a href="../view/paper3.html">이전</a>
            <a href="../view/result1.html">결과</a>
        </div>
    </div>
   
</div>
<script>
    $("input[type='radio']").on("click", function(){
        var scrollTo = $(this).parents("li").next("li").offset().top;
        $("html, body").animate({ scrollTop : scrollTo }, 500);
    })
</script>
</body>
</html>