<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../resources/swiper/dist/css/swiper.min.css">
    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-ui.1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/common.js"></script>
    <script type="text/javascript" src="../../resources/swiper/dist/js/swiper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
</head>
<body>
<div class="wrapper paper">
    <div>
        <ul class="paper_list">
            
                <li>
                    <p class="question">
                        <span>1.</span> 나는 결정이 빠른 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>2.</span> 나는 도전하는 것을 좋아하며 대체로 겁이 없는 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>3.</span> 나는 다른 사람의 부탁을 잘 거절하지 못한다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>4.</span> 나는 감수성이 예민하며 감성적인 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>5.</span> 나는 사람을 좋아하며 사교적이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>6.</span> 나는 주관이 뚜렷하고 고집이 세다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>7.</span> 나는 우유부단한 편이며 결정 내리기가 쉽지 않다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>8.</span> 나는 분석력이 좋으며 문제점을 잘 찾는다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>9.</span> 나는 내가 했던 말이나 행동을 기억하지 못할 때가 종종 있다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>10.</span> 나는 의지와 결단력이 강하다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>11.</span> 나는 아무 생각없이 가만히 있는 것을 잘 하는 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>12.</span> 나는 스스로에 대한 자신이 없는 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>13.</span> 나는 열정적이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>14.</span> 나는 대체로 일을 좋아하며 가시화된 목표에 관심이 많다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>15.</span> 나는 행동이 느리다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>16.</span> 나는 신경이 예민하며 잠을 잘 못 자는 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>17.</span> 나는 쉽게 화가 나지만 또 쉽게 화가 풀리는 편이다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>18.</span> 나는 의견이 다를 시 다른 사람과 논쟁할 때가 많다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>19.</span> 나는 새로운 시도를 하기보단 현재 상태를 유지하고 싶어한다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        <span>20.</span> 나는 꼼꼼하고 조심성이 많다.
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
        </ul>

        <div class="btns">
            <a href="">이전</a>
            <a href="">다음</a>
        </div>
    </div>
   
</div>

</body>
</html>