<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css">
    <link rel="stylesheet" type="text/css" href="../../resources/swiper/dist/css/swiper.min.css">
    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-ui.1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/common.js"></script>
    <script type="text/javascript" src="../../resources/swiper/dist/js/swiper.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
</head>
<body>
<div class="wrapper paper">
    <div>
        <ul class="paper_list">
            
                <li>
                    <p class="question">
                        가족과 여행
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper0"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        친구와 여행
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper1"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        동호인과 여행
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper2"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        혼자여행
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper3"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        수학여행
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper4"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        MT
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper5"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        워크샵
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper6"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        수련회
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper7"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        야유회
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper8"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        세미나
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper9"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        등산
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper10"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        낚시
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper11"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        레저
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper12"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        체험학습
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper13"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        기타
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper14"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        undefined
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper15"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        undefined
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper16"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        undefined
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper17"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        undefined
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper18"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        undefined
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper19"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
                <li>
                    <p class="question">
                        undefined
                    </p>
                    <div class="answer">
                        <div>
                            <label>
                                <input type="radio" name="paper20"/>
                                <span>A. 매우 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper20"/>
                                <span>B. 대게 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper20"/>
                                <span>C. 조금 그렇다</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="paper20"/>
                                <span>D. 그렇지않다</span>
                            </label>
                        </div>
                    </div>
                </li>
            
        </ul>

        <div>
            <a href="">이전</a>
            <a href="">다음</a>
        </div>
    </div>
   
</div>

</body>
</html>